@import "../Utils/utils.scss";

.footer {
    align-items: center;
    background-color: $footer-color;
    color: $overlay-font-color;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    justify-content: center;
    text-align: center;
    padding: 20px 10px;
    position: relative;
}

.tmdb {
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 10px;
}
