.header {
    background-color: rgba(0, 89, 161, 0.8);
    color: #fff;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(100px, 600px) minmax(100px, 800px);
    padding: 10px;
    justify-content: space-between;
}

.title {
    text-align: center;
}
