@import "../Utils/utils.scss";

.header {
    background-color: $primary-color;
    color: $overlay-font-color;
    align-items: center;
    display: grid;
    grid-template-columns: minmax(100px, 600px) minmax(100px, 800px);
    padding: 10px;
    justify-content: space-between;
}

.title {
    text-align: center;
}
