@import "../Utils/utils.scss";

$background-color: hsl(222, 13%, 25%);
$search-bg-color: hsl(210, 5%, 22%);
$transition: all 0.5s ease-in-out;

.searchbar {
    background-color: $search-bg-color;
    position: relative;
    transition: $transition;
    min-width: 80px;
    width: 5vw;
    height: 100%;
    justify-self: right;
    will-change: width;
    &:before {
        content: "";
        display: block;
        width: 3px;
        height: 100%;
        position: relative;
        background-color: $accent-color;
        transition: $transition;
        top: 0;
        bottom: 0;
        will-change: transform, margin;
    }
    &.open {
        width: 100%;
        &:before {
            margin: auto 20px;

            position: absolute;
            transform: scaleY(0.8);
        }
    }
}

.searchbox {
    border-radius: 10px;
    border: none;
    height: 30px;
    font: inherit;
    padding: 5px;

    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 20px 100px 20px 45px;
    font-size: 22px;
    &:focus {
        outline: none;
    }
}

.searchButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 80px;
    margin: auto 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 10px;
    transition: $transition;

    .open & {
        bottom: 0;
    }
}

.searchIcon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid $accent-color;
    display: block;
    position: relative;
    margin-left: 5px;
    transition: $transition;
    &:before {
        content: "";
        width: 3px;
        height: 15px;
        position: absolute;
        right: -2px;
        top: 30px;
        display: block;
        background-color: $accent-color;
        transform: rotate(-45deg);
        transition: $transition;
    }
    &:after {
        content: "";
        width: 3px;
        height: 15px;
        position: absolute;
        right: -12px;
        top: 40px;
        display: block;
        background-color: $accent-color;
        transform: rotate(-45deg);
        transition: $transition;
    }
    .open & {
        margin: 0;
        width: 50px;
        height: 50px;
        border-radius: 60px;
        &:before {
            transform: rotate(52deg);
            right: 20px;
            top: 20px;
            height: 18px;
        }
        &:after {
            transform: rotate(-230deg);
            right: 20px;
            top: 10px;
            height: 18px;
        }
    }
}

.suggestions {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #333;
    left: 0;
    right: 0;
    max-width: 300px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
}

.suggestedItem {
    cursor: pointer;
    font-size: 1.1em;
    padding: 5px 0;
    transition: background-color 0.1s ease-out;
    will-change: background-color;
    &:hover {
        background-color: hsla(207, 100%, 32%, 0.1);
    }
}

.advancedItem {
    @extend .suggestedItem;
    display: block;
    padding: 10px 0;
}

@media only screen and (max-width: 650px) {
    .searchbar {
        &.open {
            width: 200%;
        }
    }
}
