@keyframes slideDown {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

.showFilters {
    cursor: pointer;
    text-decoration: underline;
}

.show {
    animation: slideDown 0.3s ease-out 1 forwards;
    transform-origin: top;
    will-change: transform;
}

.searchBtn {
    cursor: pointer;
    background-color: rgba(0, 115, 209, 0.5);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.24);
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    pointer-events: none;
    margin: 10px 0;
    transition: background-color 0.1s ease-out;
    will-change: transition;
    &:hover {
        background-color: hsla(207, 100%, 40%, 0.7);
    }
}

.searchHeader {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
}
